*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #222;}
body{font-size: 14px; line-height: 24px; color: #222; font-family: 'GowunDodum-Regular';}

/*고운돋음*/
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header */
#header{width: 100%; height: 130px; background-color: #75877a; font-size: 20px; position: relative;}

.header_inner{width: 1320px; height: 130px; margin: 0 auto;}
.logo{float: left; margin: 17px 0;}
.nav{float: right;}
.nav li{float: left;}
.nav li a{display: block; margin-top: 66px; padding: 20px 70px; color: #fff;}
.nav li a:hover{background-color: #fff; color: #75877a;}

/* banner */
#banner{width: 100%; 
    /* height: 750px;  삭제*/
    margin: 0 auto; position: relative;}
h1{position: absolute; left: 50%; margin-left: -130.5px; top: 50%; margin-top: -50px; z-index: 60; font-size: 100px; font-family: 'GowunDodum-Regular'; font-weight: 100; text-shadow: 2px 2px 5px rgba(34, 34, 34, 0.2); color: #fff;}

/* bedding */
#bedding{width: 100%; height: 850px; margin: 0 auto; background: url(../images/bedding.jpg) no-repeat center top;}

/* category */
#category{width: 1320px; height: 40px; margin:0 auto; font-family: 'GowunDodum-Regular'; padding: 100px 0;}

#category ul li{float: left; width: 25%; text-align: center;}
#category ul li a{display: inline-block; padding: 3px 20px; border: #222 1px solid;}
#category ul li a:hover{box-shadow: #ccc 3px 3px 0px;}

/* best */
#best{width: 1320px; height: 700px; margin: 0 auto; text-align: center; font-family: 'GowunDodum-Regular';}
.px18{font-size: 18px;}
.blod{font-weight: bold;}
.px25{font-size: 25px;}
.line{padding: 20px 0; border-bottom: 1px #ccc solid; margin-bottom: 20px;}
#best ul{margin-top: 50px;}
#best ul li{float: left; text-align: left; position: relative;}
.label{position: absolute; left: 0; top: -8px; z-index: 50;}
#best ul li:nth-child(2){margin: 0 15px;}
#best ul li div{width: 430px; height: 450px;}
/* #best ul li div:hover .scale{transform: scale(1.1);}
.scale{transition: all 1s;} */

/* box1 */
#box1{width: 1320px; height: 1245px; margin: 50px auto 0; text-align: center; font-family: 'GowunDodum-Regular';}
.px18{font-size: 18px;}
.blod{font-weight: bold;}
.px25{font-size: 25px;}
.line{padding: 20px 0; border-bottom: 1px #ccc solid; margin-bottom: 20px;}
#box1 ul{margin-top: 50px;}
#box1 ul li{float: left; text-align: left;  margin-bottom: 50px;}
#box1 ul li:nth-child(2){margin: 0 15px;}
#box1 ul li div{width: 430px; height: 450px; overflow: hidden;}
#box1 ul li div:hover .scale{transform: scale(1.1);}
.scale{transition: all 1s;}

/* box2 */
#box2{width: 1320px; height: 1245px; margin: 100px auto 0; text-align: center; font-family: 'GowunDodum-Regular';}
#box2 ul{margin-top: 50px;}
#box2 ul li{float: left; text-align: left;  margin-bottom: 50px;}
#box2 ul li:nth-child(2){margin: 0 15px;}
#box2 ul li div{width: 430px; height: 450px; overflow: hidden;}
#box2 ul li div:hover .scale{transform: scale(1.1);}
.scale{transition: all 1s;}

/* box3 */
#box3{width: 1320px; height: 1245px; margin: 100px auto 0; text-align: center; font-family: 'GowunDodum-Regular';}
#box3 ul{margin-top: 50px;}
#box3 ul li{float: left; text-align: left;  margin-bottom: 50px;}
#box3 ul li:nth-child(2){margin: 0 15px;}
#box3 ul li div{width: 430px; height: 450px; overflow: hidden;}
#box3 ul li div:hover .scale{transform: scale(1.1);}
.scale{transition: all 1s;}

/* box4 */
#box4{width: 1320px; height: 1245px; margin: 100px auto 0; text-align: center; font-family: 'GowunDodum-Regular';}
#box4 ul{margin-top: 50px;}
#box4 ul li{float: left; text-align: left;  margin-bottom: 50px;}
#box4 ul li:nth-child(2){margin: 0 15px;}
#box4 ul li div{width: 430px; height: 450px; overflow: hidden;}
#box4 ul li div:hover .scale{transform: scale(1.1);}
.scale{transition: all 1s;}


/*footer*/
#footer{width: 100%; height: 300px; margin: 100px auto 0; background-color: #75877a; color: #fff; font-family: "noto sans kr";}
.footer_inner{width: 1320px; margin: 0 auto; height: 300px; position: relative; padding-top: 50px; box-sizing: border-box;}
.footer_logo{position: absolute; right: 0; bottom: 50px;}
.px30{font-size: 30px; font-weight: bold; margin-bottom: 30px;}
.footer_text{float: left;}
.footer_icon{float: right;}
.footer_icon li{float: left;}
.footer_icon li a{display: block; margin-left: 15px; opacity: 0.5;}
.footer_icon li a:hover{opacity: 1;}
table{margin-top: 40px;}
th:nth-child(2n-1){padding-right: 20px;}
th:nth-child(2n){padding-right: 35px;}
th:nth-child(2){font-size: 25px;}
th:nth-child(4){font-weight: normal;}
th:nth-child(6){font-weight: normal;}

.top{position:fixed; bottom:50px; right:50px; display:none;}
.tab{position:fixed; bottom:115px; right:50px; display:none; z-index: 90;}
